<header>
    <div class="header_wrapper">
        <div class="logo">
            <img src="../../../assets/img/logo.png" alt="logo">
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#about" class="about_link">About</a>
                </li>
                <li>
                    <a href="#skills" class="skills_link">Skills</a>
                </li>
                <li>
                    <a href="#projects" class="projects_link">Projects</a>
                </li>
                <li>
                    <a href="#contact" class="contact_link">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>