<footer>
    <img src="../../../assets/img/footer_background.png" alt="" class="background_footer">
    <div class="footer_wrapper">
        <div class="social_icons">
            <ul>
                <li>
                    <a href="https://www.linkedin.com/" target="_blank">
                        <img src="../../../assets/icons/linkedin.svg" alt="linkedin logo">
                    </a>
                </li>
                <li>
                    <a href="https://dribbble.com/" target="_blank">
                        <img src="../../../assets/icons/dribbble.svg" alt="dribbble logo">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank">
                        <img src="../../../assets/icons/instagram.png" alt="instagram logo">
                    </a>
                </li>
            </ul>
        </div>
        <div class="contact_info">
            <div class="phone">
                <img src="../../../assets/icons/phone.png" alt="phone logo">
                <span> +216 50819949</span> 
            </div>
            <div class="email">
                <img src="../../../assets/icons/email.png" alt="email logo">
                <span> abedissam95@gmail.com</span> 
            </div>
            <div class="location">
                <img src="../../../assets/icons/location.png" alt="location logo">
                <span> Tunisia, Tunis</span> 
            </div>
        </div>
    </div>
</footer>