<div class="brand_wrapper">
    <div class="navbar">
        <app-nav></app-nav>
    </div>

    <div class="brand">
        <div class="content">
            <h3>Hi.</h3>
            <h2>My name is <span>Max Jones</span></h2>
            <h6>Full Stack Developer</h6>
            <a href="#contact" class="btn btn-primary btn-glow">
                <span> CONTACT ME </span>
            </a>
        </div>
        <div class="picture">
            <img src="../../../assets/img/Humaaans Space.png" alt="human image">
        </div>
    </div>
    <div class="slide_icon">
        <img src="../../../assets/icons/slide down icon.png" alt="slide icon">
    </div>
</div>
