<div class="projects" id="projects">
    <div class="projects_wrapper">
        <div class="header">
            <h2>My Projects</h2>
        </div>
        <div class="slider">
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" >
                        <div class="image">
                            <img src="../../../assets/projects/Yoga website.png" alt="project image">
                        </div>
                        <div class="details">
                            <h3>Yoge <br> <span>Yoga website design</span> </h3>
                        </div>
                        <div class="visit"> 
                            <a href="https://dribbble.com/" target="_blank" class="btn-visit">Visit</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image">
                            <img src="../../../assets/projects/uftam.png" alt="project image">
                        </div>
                            <div class="details">
                                <h3>UFTAM <br> <span>School website</span> </h3>
                            </div>
                            <div class="visit"> 
                                <a href="https://uftam.net/" target="_blank" class="btn-visit">Visit</a>
                            </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image">
                            <img src="../../../assets/projects/tonerstore.png" alt="project image">
                        </div>
                            <div class="details">
                                <h3>TonerStore <br> <span>E-commerce website</span> </h3>
                            </div>
                            <div class="visit"> 
                                <a href="https://www.tonerstore.tn/fr/" target="_blank" class="btn-visit">Visit</a>
                            </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image">
                            <img src="../../../assets/projects/virtual lounge.png" alt="project image">
                        </div>
                            <div class="details">
                                <h3>Solon Virtuelle  <br> <span>Virtual lounge website</span></h3>
                            </div>
                            <div class="visit"> 
                                <a href="" target="_blank" class="btn-visit">Visit</a>
                            </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image">
                            <img src="../../../assets/projects/webinar.png" alt="project image">
                        </div>
                            <div class="details">
                                <h3>Edufrance <br> <span>Conference website</span> </h3>
                            </div>
                            <div class="visit"> 
                                <a href="https://www.jo.tn/" target="_blank" class="btn-visit">Visit</a>
                            </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>