<section id="skills">
    <div class="skills">
        <div class="skills_wrapper">
            <div class="content">
                <h2>Skills And Experience</h2>
                <p>
                    The main area of my expertise is front end development using HTML/CSS, JavaScript, Angular 8+,  jQuery, Figma, Illustrator. Building small and medium websites, animations, features, and much more...
                </p> <br>
                <p>
                    I also have full-stack developer experience with MongoDb, express.js, PHP, MySql and other tools .
                </p> <br>
                <p>
                    for more information visit my <b><a target="_blank" href="https://www.linkedin.com/">Linkedin</a></b> profile.
                </p>
            </div>
            <div class="picture">
                <img src="../../../assets/img/Fresh Folk statistics.png" alt="statistics image">
            </div>
        </div>
    </div>
</section>