<div class="about" id="about">
    <div class="about_wrapper">
        <div class="avatar">
            <img src="../../../assets/img/avatar.png" alt="avatar">
        </div>
        <div class="content">
            <h2>About Me</h2>
            <p>
                the main area of my expertise is front end development using HTML, CSS/SASS, JavaScript, Angular 8+,  jQuery. 
                Building small and medium websites, animations, features, and much more...
                <br> <br>
                I also have full-stack developer experience with MongoDb, express.js, PHP, MySql and other tools and 
                frameworks.
            </p>
        </div>
    </div>
</div>