<section>
    <img class="background_contact" src="../../../assets/img/contact_background.png" alt="">
    <div class="contact" id="contact">
        <div class="contact_wrapper">
            <div class="picture">
                <img src="../../../assets/img/contact_image.png" alt="">
            </div>
            <div class="content">
                <h2>Contact Me</h2>
                <p>
                    I am interested in freelance opportunities as well as teamwork-based company offers. Nevertheless, if you have any other offer, request or question feel free to contact me using below form.
                </p>
                <div class="contact_form">
                    <form method="POST" enctype="multipart/form-data" id="contact_form">
                        <div class="row">
                            <div class="input_wrapper">
                                <input placeholder="Email" type="email" name="email" value="" id="email" required>
                                <!-- <span class="text">Email</span> -->
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="textarea_wrapper">
                                <textarea id="message" placeholder="Type your message here" required value=""></textarea>
                                <!-- <span class="text">Type your message here</span> -->
                                <span class="line"></span>   
                            </div>
                        </div>
                        <button class="btn-send" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>